---
import NotionRenderer from '../NotionRenderer.astro';

const { block } = Astro.props;
---

<div class="flex-1 min-w-0">
  {block.children && (
    <NotionRenderer blocks={block.children} />
  )}
</div>
