---
import Paragraph from './blocks/Paragraph.astro';
import Heading from './blocks/Heading.astro';
import Code from './blocks/Code.astro';
import Callout from './blocks/Callout.astro';
import Quote from './blocks/Quote.astro';
import Image from './blocks/Image.astro';
import ListItem from './blocks/ListItem.astro';
import ColumnList from './blocks/ColumnList.astro';
import Column from './blocks/Column.astro';
import Divider from './blocks/Divider.astro';
import Toggle from './blocks/Toggle.astro';

const { block, index } = Astro.props;
const { type } = block;

const Components: Record<string, any> = {
  paragraph: Paragraph,
  heading_1: Heading,
  heading_2: Heading,
  heading_3: Heading,
  code: Code,
  callout: Callout,
  quote: Quote,
  image: Image,
  bulleted_list_item: ListItem,
  numbered_list_item: ListItem,
  column_list: ColumnList,
  column: Column,
  divider: Divider,
  toggle: Toggle,
};

const Component = Components[type];
---

{Component ? <Component block={block} index={index} /> : (
  <div class="p-[16px_16px_16px_12px] bg-[rgba(241,241,239,1)] text-[rgb(55,53,47)] rounded-[3px] my-[2px] text-[14px]">
    Unsupported block type: <strong>{type}</strong>
  </div>
)}
