---
import type { NotionBlock } from "../../types/notion";
import NotionBlockComponent from "./NotionBlock.astro";

interface Props {
  blocks: NotionBlock[];
}

const { blocks } = Astro.props;
---

<div class="notion-blocks space-y-6">
  {blocks?.map((block: any) => (
    <NotionBlockComponent block={block} />
  ))}
</div>
